.layoutRow {
	width: 100%;
	clear: both;
}

.layoutColumn {
	width: 100%;
	clear: both;
}

.ibmPortalControlContainer .controlTitle H2 {
	line-height: 25px;
	margin-top: 2px;
	margin-bottom: 2px; 
}

/*
	Skin / portlet spacers
*/
DIV.ibmPortalControlContainer, .wpsPortletBody  {
	padding: 5px;
}

/*
	Tooltip styles
*/

.tooltipArrowBlack {
		display:none;
		background:transparent url(../images/tooltip/black_arrow.png);
		font-size:12px;
		height:70px;
		width:160px;
		padding:25px;
		color:#fff;	
}    	

.tooltipMenuTop {
	display:none;
	background:transparent url(../images/tooltip/white_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#000;	
}

/* Debug Styles */ 

DIV.ibmPortalControlContainer {

}

DIV.controlTitle {
	background-color: #EDEDED;
}