body {font:12px/1.4 Arial, Helvetica, sans-serif; color:#333; background:url(../images/bg.jpg) repeat-x #fff; margin:0; padding:0; }


a { color:#333; text-decoration:underline; }
a:hover { color:#2075c5; text-decoration:underline; }


#container { width:982px; margin:0 auto; }
#header { width:100%; height:100px; }
	#logo { width:187px; float:left; padding:25px 0 0 25px; }
	#mini_tools { width:750px; float:right; padding:10px 20px 0 0; line-height:1.8; display:inline; text-align:right; font-size:11px; }
	#mini_tools a { text-decoration:none; }
	#mini_tools span { color:#999; }

div#top_main { width:982px; height:8px; float:left; text-transform:uppercase; background:url(../images/top_main.gif) bottom; } /* senza menu */

div#menu-nav { width:982px; height:48px; float:left; text-transform:uppercase; background:url(../images/menu/menu_bottom.gif) bottom; } /* contenitore del menu */
	
/* TOP MENU */
ul#nav { color:#fff; margin:0 5px 0 0; padding:0; list-style:none; height:48px; position:relative; background:url(../images/menu/menu_blue.gif) top right no-repeat; float:left; } /* bg menu BLU con chiusura */

ul#nav li.top, ul#nav li.top_active  { display:block; float:left; position:relative; height:48px; line-height:45px; } /* stile dei <LI> */


ul#nav li.top { padding:0 26px } /* tasto blu */

ul#nav li.j3role {display:none}

ul#nav li.top_active { padding-left:28px; background:url(../images/menu/menu_center_white.gif) top left no-repeat; } /* tasto BIANCO centrale */
ul#nav li.top_active span { display:block; float:left; height:48px; padding-right:30px; background:url(../images/menu/menu_last_center_white.gif) top right no-repeat; } /* chiusura tasto BIANCO centrale */

ul#nav li img { margin-right:10px; } /* menu_arrow */

ul#nav li.first_white { background:url(../images/menu/menu_ini_white.gif) top left no-repeat; } /* primo tasto BIANCO */
ul#nav li.first_blue { background:url(../images/menu/menu_ini_blue.gif) top left no-repeat; padding-left:29px; } /* primo tasto BLU */
ul#nav li.last_white span { background:url(../images/menu/menu_last_white.gif) top right no-repeat; padding-right:30px; } /* chiusura tasto BIANCO finale */

ul#nav li.top span a { color:#fff; text-decoration:none; outline:none; } /* stile per le voci di menu nel BLU */
ul#nav li.top_active span a,ul#nav li.top_active span { color:#f60; text-decoration:none; font-weight:bold; outline:none; } /* stile per le voci di menu nel BIANCO */

ul#nav li.top span a:hover { color:#c3c9cf; } /* hover per le voci di menu nel BLU */


/* SUBMENU e TOOLS */
ul#nav ul.mytools, ul#nav ul { font-size:11px; position:absolute; left:-9999px; top:41px; height:auto; margin:0; padding:5px 18px; list-style:none; text-transform:none; color:#003c77; border:1px solid #d4d4d4; border-top:none; -moz-border-radius:0 0 7px 7px; -webkit-border-radius:0 0 7px 7px; background:#FFF; }
ul#nav ul.mytools { left:0; display:none; min-width:128px; }
ul#nav ul.mytools li { background:url(../images/menu/submenu_arrow.gif) 0 7px no-repeat; padding-left:12px; }

ul#nav ul li { width:100%; clear:both; margin:0; padding:5px 0; line-height:1.4; float:left; }
ul#nav ul li a { color:#003c77; font-weight:bold; text-decoration:none; }

ul#nav li:hover ul { left:0; z-index:100; }
ul#nav li:hover ul li a:hover { color:#f60; }





#main { width:960px; float:left; /*min-height:500px;*/ background:#fff; border-right:1px solid #d4d4d4; border-left:1px solid #d4d4d4; /*overflow:hidden;*/ padding:10px; }
#footer { width:982px; float:left; height:46px; background:url(../images/footer.gif) no-repeat; margin-bottom:20px; }



/* BOX RIGHT */

div.box_right { width:100%;}

div.top_box_right { width:100%; height:37px; background:#f4f4f5; border:1px solid #ddd; -moz-border-radius:7px 7px 0 0; -webkit-border-radius:7px 7px 0 0; }
	div.title,h2.title { width:auto; float:left; font-size:15px; color:#2075c5; text-shadow:1px 1px 1px #d6d6d7; margin:8px 10px; font-weight: normal; }
	div.divisore { width:1px; height:17px; background:url(../images/skin/divisore.gif) no-repeat; float:right; margin-top:10px; }
	div.top_arrow { width:11px; height:11px; background:url(../images/skin/top_arrow.gif) no-repeat; float:right; margin:14px 12px 0 10px; cursor:pointer; }
div.content_box_right { width:100%; border:1px solid #ddd; border-top:none; background:#ecedee; -moz-border-radius:0 0 7px 7px; -webkit-border-radius:0 0 7px 7px; }

/*	spostati nel CSS delle portlet
.content_box_right ul { float:left; margin:0; padding:7px; }
.content_box_right ul li { float:left; padding:5px 0 5px 0; list-style:none; }
.content_box_right ul li .more { width:262px; float:left; display:none; }

	.detail_prof { width:180px; float:left; font-size:11px; margin-top:5px; }
	.img_prof { width:65px; float:left; overflow:hidden; margin:5px 5px 0 0; }
	.img_prof img { border:1px solid #ddd; }

.arrow { width:11px; height:11px; background:url(../images/subbox_arrow.gif) 0 0 no-repeat; float:left; margin:2px 2px 0 0; }
.subtitle { width:239px; float:left; }
.subtitle span { cursor:pointer; font-weight:bold; }
.subtitle span:hover { color:#2075c5; }
*/

div.txt_rassegna { width:250px; float:left; font-size:11px; margin-top:5px; }

/* BOX */

div.box { width:100%; }
div.top_box { width:auto; height:37px; background:#ecedee; border:1px solid #ddd; border-bottom:none; -moz-border-radius:7px 7px 0 0; -webkit-border-radius:7px 7px 0 0; }
div.content_box { width:auto; background:#fff; border:1px solid #ddd; border-top:none; -moz-border-radius:0 0 7px 7px; -webkit-border-radius:0 0 7px 7px;}
	div.content { padding:30px 10px 20px; }
	p.element { margin:0 0 20px 0; }


/* TABELLA DATI */

.data_table { width:100%; border-collapse:collapse; }
.data_table td, .data_table th { border:1px solid #ddd; padding:5px 5px 3px 8px; }
.data_table th { text-align:left; padding-top:5px; padding-bottom:5px; background:#e9e9e9; }
.data_table tr.alt td { background:#f2f2f2; }

.data_green { color:#009900; }
.data_orange { color:#f60; }
.data_off { color:#999; }

/* FORM */

form, select, radio { margin:0; padding:0; }

/**SKIN LAYOUT STYLES*/
td.first_column{}
td.column{padding-left:10px;}
.layoutVertical{margin-bottom: 5px;}
.layoutHorizontal{vertical-align: top;}
.other_column{padding-left:10px;}
table.horizontal{width:100%}
table.horizontal tr td{vertical-align: top;}


/*portlet styles*/
.inline{float:left;}
.wrap{float:none}
input.date{width:75px;}
.prop{padding:0 10px;}
.prop {
	clear:both;
	display:block;
	float:left;
	width:100%;
}
.prop .name {
	clear:left;
	float:left;
	font-weight:bold;
	margin-top:3px;
	padding:5px;
	vertical-align:top;
	/* width:175px; */
	width:240px;
}
.value {
	float:left;
	padding:5px;
}
.sectioned-form{
}

.sectioned-form h3{
	background-color:#F7F7F7;
	border-top:1px solid #E6E6E6;
	clear:both;
	display:block;
	font-size:12px;
	line-height:1.4;
	margin:0;
	padding:8px 0 6px;
	width:100%;
}
.sectioned-form h4{
	display:block;
	float:left;
	margin:0;
	padding:8px 5px 10px 16px;
	width:140px;
}
.sectioned-form h3 a{
	cursor:pointer;
	margin:0 0 0 10px;
	padding:0 0 0 15px;
}
.sectioned-form .ui-button-text  {
	font-size:0.8em;
	padding:0.2em 1em;
}
.date-or-number{
	width:100%;
}
.date-or-number label.name{
	width:125px;
}
/*jepStyles*/
DIV.jepPortlet {
	width: 100%;
	font-family: Verdana;
/*	font-size: small; */
	padding: 5px;
	padding-left: 10px;
}

.jepLabel {	
	
}

.jepField {
	font: inherit;
	border: 1px solid #DEDEDE;
}

/* CSS - People panel & Sections */
ul.jepSections { float:left; margin:0; padding:7px; }
ul.jepSections li { float:left; padding:5px 0 5px 0; list-style:none; }
ul.jepSections li .more { width:262px; float:left; display:none; }

.detail_prof { width:180px; float:left; font-size:11px; margin-top:5px; }
.img_prof { width:65px; float:left; overflow:hidden; margin:5px 5px 0 0; }
.img_prof img { border:1px solid #ddd; }

.arrow { width:11px; height:11px; background:url(../images/subbox_arrow.gif) 0 0 no-repeat; float:left; margin:2px 2px 0 0; }
.subtitle { width:239px; float:left; }
.subtitle span { cursor:pointer; font-weight:bold; }
.subtitle span:hover { color:#2075c5; }


.labelCell { width: 480px; display: block; float: left}
/*style reset skin*/
.layoutRow {
    width: 100% !important;
}
/*end*/