<a rel="dynamic-content" href="portlet.link:portlet"></a>
<section class="ibmPortalControl wpthemeControl wpthemeStandard a11yRegionTarget"  role="region">

	<a rel="dynamic-content" href="dyn-cs:id:wp_analytics_portlet_dynspot"></a>
	
	<!-- start header markup -->
	<header class="wpthemeControlHeader" role="banner" aria-label="Skin header">
		<div class="wpthemeInner">
			<h2 class="title">
				<a rel="dynamic-content" href="lm:title"></a>
			</h2>
			<a aria-haspopup="true" aria-label="Display content menu" role="button" href="javascript:;" class="wpthemeIcon wpthemeMenuFocus contextMenuInSkinIcon" style="display:none" tabindex="0">
				<span title="Display content menu"><img aria-label="Display content menu" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></span>
				<span class="wpthemeAltText">Component Action Menu</span>
				<!-- start CAM template -->
				<span class="wpthemeMenu" data-positioning-handler="horizontallyCenteredBelow">
					<div class="wpthemeMenuBorder">
						<!-- define the menu item template inside the "ul" element.  only "css-class", "description", and "title" are handled by the theme's sample javascript. -->
						<ul class="wpthemeMenuDropDown wpthemeTemplateMenu" role="menu">
							<li class="${css-class}" role="menuitem" tabindex="-1"><span
								class="wpthemeMenuText">${title}</span></li>
						</ul>
						<div class="verticalMenuPointer pointer"></div>
					</div> <!-- Template for loading -->
					<div class="wpthemeMenuLoading wpthemeTemplateLoading">${loading}</div>
					<!-- Template for submenu -->
					<div class="wpthemeAnchorSubmenu wpthemeTemplateSubmenu">
						<div class="wpthemeMenuBorder wpthemeMenuSubmenu">
							<ul id="${submenu-id}" class="wpthemeMenuDropDown"
								role="menu">
								<li role="menuitem" tabindex="-1"></li>
							</ul>
						</div>
					</div>
				</span>
				<!-- end CAM template -->
			</a>
			<a aria-haspopup="true" aria-label="Display portlet menu" role="button" href="javascript:;" class="wpthemeIcon wpthemeActionDisabled wpthemeMenuFocus" tabindex="0"
                onclick="if (typeof wptheme != 'undefined') wptheme.contextMenu.init({ 'node': this, menuId: 'skinAction', jsonQuery: {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}, params: {'alignment':'right'}});"
				onmousemove="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') { i$.removeClass(this,'wpthemeActionDisabled'); this.onmousemove = null; }"
				onkeydown="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') {if (event.keyCode ==13 || event.keyCode ==32 || event.keyCode==38 || event.keyCode ==40) {wptheme.contextMenu.init(this, 'skinAction', {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}); return false;}}">
				<span title="Display portlet menu"><img aria-label="Display portlet menu" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></span>
				<span class="wpthemeAltText">Actions</span>
			</a>
		</div>
	</header>
	
	<div class="wpthemeControlBody wpthemeOverflowAuto wpthemeClear"> <!-- lm:control dynamic spot injects markup of layout control -->
	<!-- asa.overlay marks the node that the AsaOverlayWidget will be placed in -->
		<div style="position:relative; z-index: 1;">
			<div class="analytics.overlay"></div>
		</div>
		<a rel="dynamic-content" href="lm:control"></a> 
		<div class="wpthemeClear"></div>
	</div>
</section> 