<div class="hiddenWidgetsDiv">
	<!-- widgets in this container are hidden in the UI by default -->
	<div class="component-container hiddenWidgetsContainer ibmDndRow wpthemeCol12of12 wpthemeFull wpthemeRow" name="ibmHiddenWidgets"></div>
	<div style="clear:both"></div>
</div>
<!-- this layout has one column on top of 3 unequal sized columns underneath -->
<div class="wptheme3Col wpthemeUnequal wpthemeTopCol">
	<div class="component-container wpthemeCol wpthemeHeadlineContainer ibmDndColumn wpthemeCol12of12 wpthemeFull" name="headline"></div>
	<div class="component-container wpthemeCol wpthemeSecondaryContainer ibmDndColumn wpthemeLeft wpthemeCol1of5 wpthemeThin" name="secondary"></div>
	<div class="component-container wpthemeCol wpthemePrimaryContainer ibmDndColumn wpthemeLeft wpthemeCol3of5 wpthemeMedium" name="ibmMainContainer"></div>
	<div class="component-container wpthemeCol wpthemeTertiaryContainer ibmDndColumn wpthemeLeft wpthemeCol1of5 wpthemeThin" name="tertiary"></div>
</div>
