<a rel="dynamic-content" href="portlet.link:portlet"></a>
<a rel="dynamic-content" href="res:/Jacobacci20Themes/skins/extra20collapsible/myPortletid.jsp"></a>
	
	<a rel="dynamic-content" href="dyn-cs:id:wp_analytics_portlet_dynspot"></a>
	
	<a rel="dynamic-content" href="res:/Jacobacci20Themes/skins/extra20collapsible/myPortletid_box_right.jsp"></a>
		<a rel="dynamic-content" href="res:/Jacobacci20Themes/skins/extra20collapsible/myPortletid_top_box_right.jsp"></a>
			<h2 class="title">
				<!-- lm-dynamic-title node marks location for dynamic title support -->
				<span class="lm-dynamic-title asa.portlet.title a11yRegionLabel"><a rel="dynamic-content" href="lm:title"></a></span>
			</h2>
			<a rel="dynamic-content" href="res:/Jacobacci20Themes/skins/extra20collapsible/openBox.jsp"></a>
		</div>
	
	<a rel="dynamic-content" href="res:/Jacobacci20Themes/skins/extra20collapsible/myPortletid_content_box_right.jsp"></a><!-- lm:control dynamic spot injects markup of layout control -->
	<!-- asa.overlay marks the node that the AsaOverlayWidget will be placed in -->
		<div style="position:relative; z-index: 1;">
			<div class="analytics.overlay"></div>
		</div>
		<div style="padding:5px;">
		
		<a rel="dynamic-content" href="lm:control"></a> 
		</div>
		<div class="wpthemeClear"></div>
	</div>
</div>
<a rel="dynamic-content" href="res:/Jacobacci20Themes/skins/extra20collapsible/myPortletid_skipportlet.jsp"></a>