.oobSampleContentContainer{
   position: relative; 
}

.oobSampleContentContainer:focus{
   outline: 0; 
}

.oobSampleHeading{
    color: #333333;
    font-family: Georgia,Times New Roman,sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 140%;
    margin: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #999999;
    padding-bottom: 9px;
}

.wpthemeSecondaryContainer .oobSampleHeading, .wpthemeTertiaryContainer .oobSampleHeading{
    color: #444444;
    font-size:16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bfbfbf;
    text-shadow:none;
}

.wpthemeHeadlineContainer .oobSampleHeading {
    font-size: 46px;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 12px;
}

.oobSampleRichText h2{
    color: #333333;
    font-family: georgia,serif;
    font-size: 1.7em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 0.5em;
}

.wpthemeSecondaryContainer .oobSampleRichText h2, .wpthemeTertiaryContainer  .oobSampleRichText h2{
    font-size: 1.3em;
    font-weight: bold; 
    color: #000000;
    text-shadow: none;
}

.wpthemeHeadlineContainer .oobSampleRichText h2{
    font-size: 3em;
}

.oobSampleRichText h3{
    color: #333333;
    font-family: georgia,serif;
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.wpthemeSecondaryContainer .oobSampleRichText h3, .wpthemeTertiaryContainer  .oobSampleRichText h3{
    font-size: 1em;
    color: #444444;
}

.wpthemeHeadlineContainer .oobSampleRichText h3{
    font-size: 1.7em;
}

.oobSampleRichText p{
    color: #696969;
    font-size: 1em;
}

.wpthemeSecondaryContainer .oobSampleRichText p, .wpthemeTertiaryContainer  .oobSampleRichText p {
    font-size: 0.8em;
}

.wpthemeHeadlineContainer .oobSampleRichText p {
    color: #000000;
    font-size: 1.1em;
}

.oobSampleImage{
        max-width: 100%;
}

.contentEditContainer:focus {
    outline:0;
}
.contentInlineEditBar {
  width:28px;
  position:absolute;
  z-index:100;
  margin: 0px -40px;
  top:10px;
  padding:3px;
  background-color:rgba(0,0,0,0.3);
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px;
  border-radius:3px 3px 3px 3px;
  display:none;
  outline:0;
}
.edit-mode .component-control:hover .contentInlineEditBar {
  display:block;
}
.component-control:focus {
  outline:0;
}
.contentInlineEditBar .container {
  background-color:#f4f4f4;
  background:-webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#eaeaea));
  background:-moz-linear-gradient(top, #f4f4f4, #eaeaea);
  background:-o-linear-gradient(top, #f4f4f4, #eaeaea);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#EAEAEA');
  border:1px solid #757575;
}
.contentInlineEditBar .button {
  text-align:center;
  font-size:1em;
  color:#000000;
  padding:4px 0;
  border-top:1px solid #ffffff;
  border-bottom:1px solid #dedede;
}
.contentInlineEditBar .first {
}
.contentInlineEditBar .button:hover {
  background-color:#e3e3e3;
}

.contentInlineEditBar .newButtonsPopup {
  display:none;
  position:absolute;
  top:-7px;
  right:26px;
  background-color:rgba(0,0,0,0.3);
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px;
  border-radius:3px 3px 3px 3px;
  padding:3px;
  width:123px;
  text-align:left
}
.contentInlineEditBar .newButtonsPopupInner {
  background-color:white;
  padding:12px;
}
.contentInlineEditBar .newButtonsPopup .sharkfin {
  position:absolute;
  top:13px;
  right:-8px;
}
.contentInlineEditBar .newButtonsPopup .popupTitle {
  font-size:1.2em;
  font-weight:bold;
  color:black;
  border-bottom:2px solid #A0A0A0;
  padding-bottom:8px;
  margin-bottom:10px;
}
.contentInlineEditBar .newButtonsPopup .actionLink {
  font-size:1.2em;
}
.contentInlineEditBar .newButtonsPopup .actionLink a {
  color:#115D94;
  text-decoration:none;
}
.contentInlineEditBar .newButtonsPopup .actionLink a:hover {
  color:#0F5283;
  text-decoration:underline;
}
  
.contentInlineEditBar .popupTrigger:hover .newButtonsPopup {
  display:block;
}
.list .contentInlineEditBar {
  padding:1px;
  -moz-border-radius:1px 1px 1px 1px;
  -webkit-border-top-left-radius:1px; -webkit-border-top-right-radius:1px; -webkit-border-bottom-left-radius:1px; -webkit-border-bottom-right-radius:1px;
  border-radius:1px 1px 1px 1px;
  width:24px;
}
.list .contentInlineEditBar .button {
  padding:2px 0;
  border-top:1px solid #ffffff;
  border-bottom:1px solid #dedede;
  border-left:1px solid #ffffff;
  border-right:1px solid #dedede;
}
.list .item:focus {
  outline:0;
}
.edit-mode .list .item .contentInlineEditBar {
  display:block;
}

.oobLeft {
  float:right;
  text-align:right;
}

.oobRight {
  float:left;
  text-align:left;
}