a, a:active {
    color: #ff4b00;
}

a:hover, a:focus { 
	color: #e34301; 
	text-decoration: underline;
}

.wpthemeHeader .wpthemeHeaderNav ul li a:hover, 
.wpthemeHeader .wpthemeHeaderNav ul li a:focus, 
.wpthemeHeader .wpthemeHeaderNav ul li.wpthemeSelected a {
	background-color: #B24801;
}

.wpthemeBanner {
	background: none;
    border-bottom: 0px solid #222;
    padding: 0;
}

.wpthemeBannerInner {
	border-top: 1px solid #FF6702;
}

.wpthemeBanner .wpthemePrimaryNav li a{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: 0 1px 2px #000000;
	text-decoration: none;
	display: block;
	color: #ddd;
}

.wpthemeBanner .wpthemePrimaryNav li a:hover, 
.wpthemeBanner .wpthemePrimaryNav li a:active,
.wpthemeBanner .wpthemePrimaryNav li a:focus {
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top, #707070 0%, #040404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#040404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #707070 0%,#040404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #707070 0%,#040404 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #707070 0%,#040404 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#040404',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #707070 0%,#040404 100%); /* W3C */
    border-left-color: #505050;
    border-right-color: #505050;
    color: #FFFFFF;
	box-shadow: 1px 0 0 #111, -1px 0 0 #111, 0px 0 0 #111 inset,0px 0 0 #111 inset;
	text-shadow: 0 1px 2px #000;
	text-decoration: none;
}

.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a, 
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:hover,
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:active, 
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:focus {
	background: #838383; /* Old browsers */
	background: -moz-linear-gradient(top, #838383 0%, #040404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(100%,#040404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #838383 0%,#040404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #838383 0%,#040404 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #838383 0%,#040404 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#040404',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #838383 0%,#040404 100%); /* W3C */
    border-left-color: #505050;
    border-right-color: #505050;
    color: #FFFFFF;
	box-shadow: 1px 0 0 #111, -1px 0 0 #111, 0px 0 0 #111 inset,0px 0 0 #111 inset;
}

.wpthemeFooter {
    border-top: 1px solid #FF6702;
}

.wpthemeControlBody {
	padding: 10px;
}

.edit-mode .wpthemeControl.wpthemeHidden {
	padding: 0px;
}

.wpthemeControl.wpthemeStandard {
	padding: 0px;
}

.wpthemeControlHeader {
	background: #222;
    	background: -moz-linear-gradient(center top , #AAA 0%, #222 100%) repeat scroll 0 0 #222;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAA), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #AAA 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #AAA 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #AAA 0%,#222 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAA', endColorstr='#222',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #AAA 0%,#222 100%); /* W3C */
    	border: 0 none;
    	display: block;
    	height: 2.4em;
    	width: inherit;
}

.edit-mode .wpthemeControl.wpthemeHidden .wpthemeControlHeader{
	display: block;
}

.wpthemeControlHeader a.wpthemeIcon img {
	display: block;
	background-position:0 -290px;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

*[dir="rtl"] .wpthemeControlHeader a.wpthemeIcon img {
	background-position:0 -1606px;
}

.wpthemeControlHeader a.wpthemeIcon.contextMenuInSkinIcon img{
	background-position:0 -1518px;
}

*[dir="rtl"] .wpthemeControlHeader a.wpthemeIcon.contextMenuInSkinIcon img{
	background-position:0 -1562px;
}

.wpthemeControlHeader .wpthemeIcon {
	display:block;
	float: right;
}

.wpthemeControl .wpthemeControlHeader h2 {
	display: block;
	float: left;
	color: #fff;
	padding-left: 10px;
	max-width:70%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.wpthemeControlHeader .wpthemeInner {
	width: 100%;
	display: block;
}

.wpthemeSecondaryNav .wpthemeNavListItem a,
.wpthemeSecondaryNav .wpthemeNavListItem a:hover, 
.wpthemeSecondaryNav .wpthemeNavListItem a:active,
.wpthemeSecondaryNav .wpthemeNavListItem a:focus {
    color: #7F3301;
}

/* start mobile */
.wpthemeNavToggleBtn,
.wpthemeCommonActions {
	border-bottom: none;
}

.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeAncestor > a,
.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeAncestor > a:hover,
.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeAncestor > a:active,
.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeAncestor > a:focus  {
	/* ancestor anchors */
	color: #E03B02;
}

.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeSelected > a,
.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeSelected > a:hover,
.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeSelected > a:active,
.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeSelected > a:focus  {
	/* selected anchors */
	color: #FF6702;
}

.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeAncestor > a span {
	/* ancestor border */
	border-left: 6px solid #E03B02;
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DE5728), to(#BF3302)) 0 0 0 100%; 
	-webkit-border-image: -webkit-linear-gradient(#DE5728, #BF3302) 0 0 0 100%; 
}

.wpthemeMobileNav ul.wpthemeExpandNav .wpthemeSelected > a span {
	/* selected border */
	border-left: 6px solid #FF6702;
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FA802F), to(#D45704)) 0 0 0 100%; 
	-webkit-border-image: -webkit-linear-gradient(#FA802F, #D45704) 0 0 0 100%;
}

.wpthemeBanner .wpthemeMobileBorder {
	border-bottom: none;
}
/* end mobile */
