<div class="hiddenWidgetsDiv">
	<!-- widgets in this container are hidden in the UI by default -->
	<div class="component-container hiddenWidgetsContainer ibmDndRow wpthemeCol12of12 wpthemeFull wpthemeRow" name="ibmHiddenWidgets"></div>
	<div style="clear:both"></div>
</div>
<!-- this layout has one main container -->
<div class="wptheme1Col">
	<div class="component-container wpthemeCol wpthemePrimary ibmDndColumn wpthemeLeft wpthemeCol12of12 wpthemeFull" name="ibmMainContainer"></div>
</div>
