.wpthemeMenuAnchor {
    display:inline-table !important;
}
.wpthemeMenuBorder {
    top: -9999px;
    border:3px solid #454545/*this is needed for IE*/;
    border:3px solid rgba(23, 23, 23, 0.8);
    -moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow:0 0 4px rgba(0, 0, 0, 0.4);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    margin:0;
    z-index: 10000;
    position: absolute;
    padding:0;
    display: none;
}
.wpthemeMenuBorder .wpthemeMenuNotchBorder {
    position:absolute;
    background-image: url(../images/cam_sharkfin_normal_top.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    padding: 0 20px;
    top: -10px;
}

.wpthemeMenuBorder .wpthemeMenuDropDown {
    list-style: none outside none;
    margin: 0;
    white-space: nowrap;
    padding: 7px 10px;
    background-color:white;
    cursor:default;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li {
    color:#222;
    margin: 1px;
    padding: 2px 8px;
    font-family: arial;
    font-size: 1.1em;
    text-align: left;
    border: 1px solid transparent;
}

.wpthemeMenuBorder .wpthemeMenuDropDown li:focus,.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li:hover{
    background-color:#F0FAFA;
    border: 1px solid rgb(215,230,232);
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeMenuitem:focus .wpthemeMenuText, 
.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li.typeMenuitem:hover .wpthemeMenuText {
    text-decoration: underline;
}

.wpthemeMenuBorder .wpthemeMenuDropDown li.typeMenuitem {
    cursor:pointer;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeHeader {
    font-weight:bold;
    color:#000;
    font-size: 1.15em;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.wpthemeMenuError:focus,
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeHeader:focus, 
.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li.typeHeader:hover,
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeSeparator:focus, 
.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li.typeSeparator:hover {
    background-color: transparent;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.wpthemeMenuError:focus .wpthemeMenuText,
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeHeader:focus .wpthemeMenuText, 
.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li.typeHeader:hover .wpthemeMenuText,
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeSeparator:focus .wpthemeMenuText, 
.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li.typeSeparator:hover .wpthemeMenuText {
    text-decoration: none;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.wpthemeMenuError:focus,
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeHeader:focus, 
.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li.typeHeader:hover {
    border: 1px solid transparent;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeSeparator:focus, 
.wpthemeNoTouch .wpthemeMenuBorder .wpthemeMenuDropDown li.typeSeparator:hover {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.wpthemeMenuDisabled {
    color: #CCCCCC;
}
.wpthemeMenuBorder .wpthemeMenuDropDown li.typeSeparator {
    border-top: thin solid #e0e0e0;
    background-color: transparent;
    padding: 0px 10px;
    font-size:0px;
    line-height:0;
}
.wpthemeMenuBorder .wpthemeMenuDropDown .wpthemeMenuText {
    display:inline;
    width:100%;
}

.wpthemeMenuLoading {
    top: -99999px !important;
    white-space: nowrap;
    margin: 1px;
    padding: 5px 10px 5px 25px;
    position: absolute;
    background-image:url(../images/loading.gif);
    background-repeat:no-repeat;
    background-position:5px center;
}
.wpthemeMenuLoadingText {
    color:#222;
    font-family: arial;
    font-size: 1.1em;
}

.wpthemeMenuNotchBorder {
    visibility:hidden;
}
.wpthemeMenuShow .wpthemeMenuNotchBorder {
    visibility: visible;
}

.wpthemeMenuBadge {
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 0.95em;
    font-weight: bold;
    margin-left: 6px;
    padding: 1px 4px;
    line-height: 1em;
    vertical-align: 1px;
}

.wpthemeMenuBadgeInfo {
    background-color: #009900;
}
.wpthemeMenuBadgeWarn {
    background-color: #EE8800;
}
.wpthemeMenuBadgeError {
    background-color: #CC0000;
}

/* Submenu handling */
.wpthemeMenuShow .wpthemeAnchorSubmenu.wpthemeTemplateSubmenu .wpthemeMenuBorder.wpthemeMenuSubmenu {
    top: -9999px;
}
.wpthemeMenuDropDown li.typeSubmenu {
}
.wpthemeMenuDropDown .wpthemeAnchorSubmenu {
    position: relative;
}
.wpthemeMenuShow .wpthemeMenuDropDown .typeSubmenu.wpthemeMenuShow .wpthemeAnchorSubmenu.wpthemeTemplateSubmenu .wpthemeMenuSubmenu {
    top: -2em;
}
.wpthemeMenuSubmenu .wpthemeMenuDropDown li {
    font-size: 1.1em;
}
.wpthemeMenuSubmenu .wpthemeMenuDropDown .wpthemeMenuLoading {
    font-size: 1.1em;
}

/* Overlay handling */
.wpthemeMenuOverlay {
    visibility:hidden; 
    position: absolute;
}
.wpthemeMenuShow .wpthemeMenuOverlay {
    visibility: visible;
    z-index: 10000;
}

/* prevent OneUI elements from covering the menus */
.lotusui_ie7 .wpthemeControlBody .lotusSection,
.lotusui_ie7 .wpthemeControlBody .lotusWelcomeBox {
    position: static;
}

/* Plain HTML */
.wpthemePlain .wpthemeControlHeader .wpthemeMenuFocus,
.wptheme_ie7 .wpthemePlain .wpthemeControlHeader .wpthemeMenuFocus {
    display:none;
}

/* IE7 hasLayout issue fix */
.wptheme_ie7 .wpthemeMenuDropDown { 
    min-height: 0; 
}