@import url("default_edit.css");

/*** SKINS ***/
.edit-mode .wpthemeControl .wpthemeControlHeader .dndHandle {
	display: inline;
	float: right;
	margin-left: 4px;
	height: 1.6em;
	width: 40px;
	background-image: url(../images/dragHandle.png);
	cursor: move;
}

