/*** SKINS ***/
.edit-mode .wpthemeControl .wpthemeControlHeader .dndHandle {
	display: inline;
	float: left;
	margin-right: 4px;
	height: 1.6em;
	width: 40px;
	background-image: url(../images/dragHandle.png);
	cursor: move;
}

/* Hidden Skin */
.edit-mode .wpthemeControl.wpthemeHidden .wpthemeControlHeader {
	display: table;
	table-layout: fixed;
}

.wptheme_ie7 .edit-mode .wpthemeControl.wpthemeHidden .wpthemeControlHeader {
	display: block;
}

.edit-mode .wpthemeControl.wpthemeHidden {
    box-shadow: 0 1px 3px #D7D7D7;
	border: 1px solid #D7D7D7;
    padding: 10px;
}

/* HiddenPlus Skin */
body.edit-mode .wpthemeHiddenPlusControl:hover .wpthemeHiddenPlusControlHeader {
	display:table;
}

.wpthemeHiddenPlusControlHeaderParent {
	position: relative;
}

.wpthemeControlHeader.wpthemeHiddenPlusControlHeader .wpthemeInner h2 span{
	margin-left: 10px;
}

/*** end SKINS ***/

/*** LAYOUTS ***/
/* columns */
.edit-mode .wpthemeCol{border: 1px dotted #222;}

/* rows */
.edit-mode .wpthemeRow {border: 1px dotted #111; min-height: 260px;}
.wpthemeRow .ibmDndHorizontalGhost { margin: 7.5px 7.5px 7.5px 0; }

/* support for dynamic pages */
.edit-mode .layoutNode {border: 1px dotted #222; min-height: 20px; min-width: 40px;}

/*** end LAYOUTS ***/

/*** Drop zones ***/

.wpthemeLayoutContainers .portal-drop-target {
	display: none;
}

.wpthemeLayoutContainers div.ibmDndDropZonesActive .portal-drop-target {
    display: block;
    position: relative;
}

.wpthemeLayoutContainers div.ibmDndDropZonesActive .portal-drop-target section {
    color: #83B995;
    border: 1px solid #83B995;
    border-radius: 2px;
    background-color: #EDFCF2;
	position: absolute;
	z-index: 1000;
	opacity: 0.8;
}

.wpthemeLayoutContainers div.ibmDndDropZonesActive .portal-drop-target.ibmDndDropZoneOver section {
    background-color: #a0efba;
}

.wpthemeLayoutContainers div.ibmDndDropZonesActive .portal-drop-target.ibmDndDropZoneIllegal section,
.wpthemeLayoutContainers div.ibmDndDropZonesActive.ibmDndDropZoneIllegal .portal-drop-target section {
    background-color: #ED486E;
    border-color: #A11222;
}

.wpthemeLayoutContainers div.ibmDndColumn.ibmDndDropZonesActive :first-child.portal-drop-target section {
	top: 0px;
}

.wpthemeLayoutContainers div.ibmDndColumn.ibmDndDropZonesActive .portal-drop-target section {
	top: -20px;
	left: -1px;
	width: 100%;
    height: 30px;
}

.wpthemeLayoutContainers div.ibmDndRow.ibmDndDropZonesActive .portal-drop-target section {
	left: -15px;
	top: 25px;
	width: 20px;
}

.wpthemeLayoutContainers table.ibmDndDropZonesActive .portal-drop-target {
    display: block;
    color: #83B995;
    background-color: #EDFCF2;
    border: 1px solid #83B995;
    border-radius: 2px;
    margin: 5px;
    height: 2em;
    min-width: 20px;
}

.wpthemeLayoutContainers table.ibmDndDropZonesActive .portal-drop-target.ibmDndDropZoneOver {
    background-color: #a0efba;
}

.wpthemeLayoutContainers table.ibmDndDropZonesActive .portal-drop-target.ibmDndDropZoneIllegal,
.wpthemeLayoutContainers table.ibmDndDropZonesActive.ibmDndDropZoneIllegal .portal-drop-target {
    background-color: #ED486E;
    border-color: #A11222;
}

/*** end Drop zones ***/
