/*** SEARCH ***/
.wpthemeSearch {
    font-size: 1.111em;
    border-radius: 16px;
	margin: 14px 20px 14px 5px;
    border: 1px solid #222222;
    padding: 1px 6px;
	background-color: #f3f3f3;
}

.wpthemeSearch form{
	margin:0;
}

.wpthemeSearch input.wpthemeSearchText{
	width: 14em;
	background: transparent;
	padding-left: 5px;
	font-size: 0.9em;
	color: #999;
	border: 0;
}

.wpthemeSearch input.wpthemeSearchButton {
	background-image: url("../images/master.png");
	background-position:0 -225px;
	-moz-opacity: .4;
	opacity: 0.4; 
	filter: alpha(opacity=40);
	border: 0;
	width:12px;
	height:12px;
	padding: 0 2px 2px 0;
	vertical-align: middle;
}
/*** end SEARCH ***/