<div class="wpthemeHiddenPlus">
<section class="ibmPortalControl wpthemeControl wpthemeHiddenPlusControl wpthemeHiddenPlus a11yRegionTarget" role="region">
	<!--START LOCALE LINKS--> 
	<a rel="alternate" href="nls/skin_ar.html" hreflang="ar" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_ca.html" hreflang="ca" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_cs.html" hreflang="cs" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_da.html" hreflang="da" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_de.html" hreflang="de" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_el.html" hreflang="el" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_en.html" hreflang="en" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_es.html" hreflang="es" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_fi.html" hreflang="fi" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_fr.html" hreflang="fr" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_hr.html" hreflang="hr" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_hu.html" hreflang="hu" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_it.html" hreflang="it" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_iw.html" hreflang="iw" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_ja.html" hreflang="ja" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_ko.html" hreflang="ko" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_nl.html" hreflang="nl" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_no.html" hreflang="no" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_pl.html" hreflang="pl" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_pt.html" hreflang="pt" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_pt_BR.html" hreflang="pt_BR" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_ro.html" hreflang="ro" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_ru.html" hreflang="ru" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_sk.html" hreflang="sk" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_sl.html" hreflang="sl" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_sv.html" hreflang="sv" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_th.html" hreflang="th" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_tr.html" hreflang="tr" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_uk.html" hreflang="uk" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_zh.html" hreflang="zh" class="wpthemeDisplayNone"></a>
	<a rel="alternate" href="nls/skin_zh_TW.html" hreflang="zh_TW" class="wpthemeDisplayNone"></a>
	<!--END LOCALE LINKS-->
	<!-- asa.portlet.id marks the node whose contents are the id of this layout control -->
	<span style="display:none" class="asa.portlet.id"></span>
	<div class="wpthemeHiddenPlusControlHeaderParent">
	<a tabindex="0" title="display menu" onfocus="var currentNode = this; while (currentNode.nodeName.toLowerCase() != 'header') { currentNode = currentNode.nextSibling; } currentNode.style.display='table';"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""/></a>
	<header class="wpthemeControlHeader wpthemeHiddenPlusControlHeader" role="banner" aria-label="Skin header">
		<div class="wpthemeInner">
			<h2>
				<img class="dndHandle" draggable="true" ondragstart="wpModules.dnd.util.portletDragStart(event, this, this.parentNode, 30, 0);"
				ondragend="wpModules.dnd.util.portletDragEnd(event);" 
				src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""/>
				<!-- lm-dynamic-title node marks location for dynamic title support -->
				<span class="lm-dynamic-title asa.portlet.title a11yRegionLabel"><a rel="dynamic-content" href="lm:title"></a></span>
			</h2>
			<a aria-haspopup="true" aria-label="Display content menu" role="button" href="javascript:;" class="wpthemeIcon wpthemeMenuFocus contextMenuInSkinIcon" style="display:none" tabindex="0">
				<span title="Display content menu"><img aria-label="Display content menu" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></span>
				<span class="wpthemeAltText">Component Action Menu</span>
				<!-- start CAM template -->
				<span class="wpthemeMenu" data-positioning-handler="horizontallyCenteredBelow">
					<div class="wpthemeMenuBorder">
						<!-- define the menu item template inside the "ul" element.  only "css-class", "description", and "title" are handled by the theme's sample javascript. -->
						<ul class="wpthemeMenuDropDown wpthemeTemplateMenu" role="menu">
							<li class="${css-class}" role="menuitem" tabindex="-1"><span
								class="wpthemeMenuText">${title}</span></li>
						</ul>
						<div class="verticalMenuPointer pointer"></div>
					</div> <!-- Template for loading -->
					<div class="wpthemeMenuLoading wpthemeTemplateLoading">${loading}</div>
					<!-- Template for submenu -->
					<div class="wpthemeAnchorSubmenu wpthemeTemplateSubmenu">
						<div class="wpthemeMenuBorder wpthemeMenuSubmenu">
							<ul id="${submenu-id}" class="wpthemeMenuDropDown"
								role="menu">
								<li role="menuitem" tabindex="-1"></li>
							</ul>
						</div>
					</div>
				</span>
				<!-- end CAM template -->
			</a>
			<a aria-label="Display portlet menu" aria-haspopup="true" role="button" href="javascript:;" class="wpthemeIcon wpthemeActionDisabled wpthemeMenuFocus" tabindex="0"
                onclick="if (typeof wptheme != 'undefined') wptheme.contextMenu.init({ 'node': this, menuId: 'skinAction', jsonQuery: {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}, params: {'alignment':'right'}});"
				onmousemove="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') { i$.removeClass(this,'wpthemeActionDisabled'); this.onmousemove = null; }"
				onkeydown="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') {if (event.keyCode ==13 || event.keyCode ==32 || event.keyCode==38 || event.keyCode ==40) {wptheme.contextMenu.init(this, 'skinAction', {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}); return false;}}">
				<span title="Display portlet menu"><img aria-label="Display portlet menu" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></span>
				<span class="wpthemeAltText">Display portlet menu</span>
			</a>
		</div>
	</header>
	</div>
	
	<div class="wpthemeControlBody wpthemeHiddenPlusControlBody wpthemeOverflowAuto wpthemeClear"> <!-- lm:control dynamic spot injects markup of layout control -->
		<a rel="dynamic-content" href="lm:control"></a> 
		<div class="wpthemeClear"></div>
	</div>
</section> 
</div>