<div class="hiddenWidgetsDiv">
	<!-- widgets in this container are hidden in the UI by default -->
	<div class="component-container hiddenWidgetsContainer ibmDndRow wpthemeCol12of12 wpthemeFull wpthemeRow" name="ibmHiddenWidgets"></div>
	<div style="clear:both"></div>
</div>
<!-- this layout contains 3 equally size columns -->
<div class="wptheme3Col wpthemeEqual">
	<div class="component-container wpthemeCol wpthemeSecondaryContainer ibmDndColumn wpthemeLeft wpthemeCol4of12 wpthemeNarrow" name="secondary"></div>
	<div class="component-container wpthemeCol wpthemePrimaryContainer ibmDndColumn wpthemeLeft wpthemeCol4of12 wpthemeNarrow" name="ibmMainContainer"></div>
	<div class="component-container wpthemeCol wpthemeTertiaryContainer ibmDndColumn wpthemeLeft wpthemeCol4of12 wpthemeNarrow" name="tertiary"></div>
</div>
