<div class="hiddenWidgetsDiv">
	<!-- widgets in this container are hidden in the UI by default -->
	<div class="component-container hiddenWidgetsContainer ibmDndRow wpthemeCol12of12 wpthemeFull wpthemeRow" name="ibmHiddenWidgets"></div>
	<div style="clear:both"></div>
</div>
<!-- this layout has a column on top with two columns underneath, left column is larger than right column -->
<div class="wptheme2Col wpthemeUnequal wpthemeTopCol">
	<div class="component-container wpthemeCol wpthemeHeadlineContainer ibmDndColumn wpthemeCol12of12 wpthemeFull" name="headline"></div>
	<div class="component-container wpthemeCol wpthemePrimaryContainer ibmDndColumn wpthemeLeft wpthemeCol8of12 wpthemeWide" name="ibmMainContainer"></div>
	<div class="component-container wpthemeCol wpthemeSecondaryContainer ibmDndColumn wpthemeLeft wpthemeCol4of12 wpthemeNarrow" name="secondary"></div>
</div>
