<div class="hiddenWidgetsDiv">
	<!-- widgets in this container are hidden in the UI by default -->
	<div class="component-container hiddenWidgetsContainer ibmDndRow wpthemeCol12of12 wpthemeFull wpthemeRow" name="ibmHiddenWidgets"></div>
	<div style="clear:both"></div>
</div>
<!-- this layout has two rows that go across the whole page -->
<div class="wptheme2Row">
	<div class="component-container wpthemeRow wpthemePrimaryContainer ibmDndRow wpthemeCol12of12 wpthemeFull" name="ibmMainContainer"></div>
	<div class="component-container wpthemeRow wpthemeSecondaryContainer ibmDndRow wpthemeCol12of12 wpthemeFull" name="secondary"></div>
</div>
