﻿<div class="wpthemeHiddenPlus">
<section class="ibmPortalControl wpthemeControl wpthemeHiddenPlusControl wpthemeHiddenPlus a11yRegionTarget" role="region">
	
	<!-- asa.portlet.id marks the node whose contents are the id of this layout control -->
	<span style="display:none" class="asa.portlet.id"></span>
	<div class="wpthemeHiddenPlusControlHeaderParent">
	<a tabindex="0" title="display menu" onfocus="var currentNode = this; while (currentNode.nodeName.toLowerCase() != 'header') { currentNode = currentNode.nextSibling; } currentNode.style.display='table';"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""/></a>
	<header class="wpthemeControlHeader wpthemeHiddenPlusControlHeader" role="banner" aria-label="Skin header">
		<div class="wpthemeInner">
			<h2>
				<img class="dndHandle" draggable="true" ondragstart="wpModules.dnd.util.portletDragStart(event, this, this.parentNode, 30, 0);"
				ondragend="wpModules.dnd.util.portletDragEnd(event);" 
				src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""/>
				<!-- lm-dynamic-title node marks location for dynamic title support -->
				<span class="lm-dynamic-title asa.portlet.title a11yRegionLabel"><a rel="dynamic-content" href="lm:title"></a></span>
			</h2>
			<a aria-haspopup="true" aria-label="Prikaži meni vsebine" role="button" href="javascript:;" class="wpthemeIcon wpthemeMenuFocus contextMenuInSkinIcon" style="display:none" tabindex="0">
				<span title="Prikaži meni vsebine"><img aria-label="Prikaži meni vsebine" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></span>
				<span class="wpthemeAltText">Meni Dejanja s komponentami</span>
				<!-- start CAM template -->
				<span class="wpthemeMenu" data-positioning-handler="horizontallyCenteredBelow">
					<div class="wpthemeMenuBorder">
						<!-- define the menu item template inside the "ul" element.  only "css-class", "description", and "title" are handled by the theme's sample javascript. -->
						<ul class="wpthemeMenuDropDown wpthemeTemplateMenu" role="menu">
							<li class="${css-class}" role="menuitem" tabindex="-1"><span
								class="wpthemeMenuText">${title}</span></li>
						</ul>
						<div class="verticalMenuPointer pointer"></div>
					</div> <!-- Template for loading -->
					<div class="wpthemeMenuLoading wpthemeTemplateLoading">${loading}</div>
					<!-- Template for submenu -->
					<div class="wpthemeAnchorSubmenu wpthemeTemplateSubmenu">
						<div class="wpthemeMenuBorder wpthemeMenuSubmenu">
							<ul id="${submenu-id}" class="wpthemeMenuDropDown"
								role="menu">
								<li role="menuitem" tabindex="-1"></li>
							</ul>
						</div>
					</div>
				</span>
				<!-- end CAM template -->
			</a>
			<a aria-label="Prikaži meni portalskega programčka" aria-haspopup="true" role="button" href="javascript:;" class="wpthemeIcon wpthemeActionDisabled wpthemeMenuFocus" tabindex="0"
                onclick="if (typeof wptheme != 'undefined') wptheme.contextMenu.init({ 'node': this, menuId: 'skinAction', jsonQuery: {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}, params: {'alignment':'right'}});"
				onmousemove="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') { i$.removeClass(this,'wpthemeActionDisabled'); this.onmousemove = null; }"
				onkeydown="javascript:if (typeof i$ != 'undefined' &amp;&amp; typeof wptheme != 'undefined') {if (event.keyCode ==13 || event.keyCode ==32 || event.keyCode==38 || event.keyCode ==40) {wptheme.contextMenu.init(this, 'skinAction', {'navID':ibmCfg.portalConfig.currentPageOID,'windowID':wptheme.getWindowIDFromSkin(this)}); return false;}}">
				<span title="Prikaži meni portalskega programčka"><img aria-label="Prikaži meni portalskega programčka" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></span>
				<span class="wpthemeAltText">Prikaži meni portalskega programčka</span>
			</a>
		</div>
	</header>
	</div>
	
	<div class="wpthemeControlBody wpthemeHiddenPlusControlBody wpthemeOverflowAuto wpthemeClear"> <!-- lm:control dynamic spot injects markup of layout control -->
		<a rel="dynamic-content" href="lm:control"></a> 
		<div class="wpthemeClear"></div>
	</div>
</section> 
</div>